<header>
  <h2>Заявки</h2>
  <button type="button" class="addTodo"><span>Добавить сделку</span></button>
  <div class="search">
    <input type="text" class="searchTerm" placeholder="Поиск" #searchInput />
    <button type="reset" (click)="clearInput()"></button>
    <button type="button" class="searchButton"></button>
  </div>
  <button type="button" class="filterButton"><span>Фильтры</span></button>
</header>

<main cdkDropListGroup>
  <ng-container *ngFor="let status of statuses">
    <div
      class="statusColumn"
      cdkDropList
      [cdkDropListData]="getTasksCertainGroup(tasksData, status.id)"
      (cdkDropListDropped)="
        drop($event, getTasksCertainGroup(tasksData, status.id))
      "
    >
      <h3>
        {{ status.name | uppercase }}
        <div class="countDeals">
          {{ getTasksCertainGroup(tasksData, status.id).length }}
        </div>
      </h3>

      <p class="sum">
        {{ sumCalculation(getTasksCertainGroup(tasksData, status.id)) }} ₽
      </p>
      <button type="button" class="addTodoIncoming"></button>
      <app-todo-component
        *ngFor="let task of getTasksCertainGroup(tasksData, status.id)"
        [task]="task"
        cdkDrag
      ></app-todo-component>
    </div>
  </ng-container>
</main>
