<header>
  <h2>Заявки</h2>
  <button type="button" class="addTodo" (click)="onOpenAddDialog()">
    <span>Добавить сделку</span>
  </button>
  <div class="search">
    <input
      type="text"
      class="searchTerm"
      placeholder="Поиск"
      #searchInput
      [(ngModel)]="searchByName"
    />
    <button type="reset" (click)="clearInput()"></button>
    <button type="button" class="searchButton"></button>
  </div>
  <button type="button" class="filterButton" [matMenuTriggerFor]="priorities">
    <span>Фильтры</span>
  </button>
  <mat-menu #priorities="matMenu">
    <ng-container *ngFor="let priority of allPriorities">
      <button
        mat-menu-item
        (click)="filterByPriorityId = priority.id"
        [class.active]="filterByPriorityId === priority.id"
      >
        <span
          [ngClass]="{
            low: priority.id === 0,
            mid: priority.id === 1,
            high: priority.id === 2,
            critical: priority.id === 3
          }"
          >{{ priority.name }}</span
        >
      </button>
    </ng-container>
    <button mat-menu-item (click)="filterByPriorityId = allPriorities.length">
      Сбросить Фильтры
    </button>
  </mat-menu>
</header>

<main cdkDropListGroup>
  <ng-container *ngFor="let status of statuses">
    <div
      class="statusColumn"
      cdkDropList
      [cdkDropListData]="getTasksCertainGroup(tasksData, status.id)"
      (cdkDropListDropped)="
        drop($event, getTasksCertainGroup(tasksData, status.id))
      "
    >
      <div class="statusColumn__header">
        <h3>
          {{ status.name | uppercase }}
          <div class="countDeals">
            {{ getTasksCertainGroup(tasksData, status.id).length }}
          </div>
        </h3>

        <p class="sum">
          {{ sumCalculation(getTasksCertainGroup(tasksData, status.id)) }} ₽
        </p>
        <button
          type="button"
          class="addTodoByStatus"
          (click)="onOpenAddDialogByStatus(status.id)"
        ></button>
      </div>
      <app-todo-component
        *ngFor="
          let task of getTasksCertainGroup(tasksData, status.id)
            | filterByName : searchByName
            | filterByPriority : filterByPriorityId
        "
        [task]="task"
        [previousStatus]="task.statusNumber"
        cdkDrag
        (onChangeTask)="updateTasks($event)"
      ></app-todo-component>
    </div>
  </ng-container>
</main>
