<section
  [ngClass]="{
    low: task.priorityId === 0,
    mid: task.priorityId === 1,
    high: task.priorityId === 2,
    critical: task.priorityId === 3
  }"
>
  <header>
    <div class="todoInfo">
      <h3>{{ task.name }}</h3>
      <span class="price">{{ task.price }} ₽</span>
      <span>{{ task.createDate | date : "dd MMMM yyyy" : "" : "ru" }}</span>
    </div>
    <div class="feedBack">
      <a href="#" class="phoneButton"></a>
      <a href="#" class="messageButton"></a>
      <a href="#" class="commentButton"></a>
    </div>
  </header>

  <main>
    <div class="changeDate">
      <span>Дата изменения</span>
      <p>{{ task.lastUpdateDate | date : "dd MMMM yyyy" : "" : "ru" }}</p>
    </div>
    <div class="userInfo" *ngIf="user">
      <span>Исполнитель</span>
      <a>
        <img
          [src]="user.imgUrl"
          alt="Фото пользователя"
          width="24px"
          height="24px"
        />
        <span>{{ user.name }}</span>
      </a>
    </div>
  </main>

  <footer>
    <span>Дела</span>
    <button class="editTodoButton" (click)="onOpenDialog()" type="button">
      <span>Редактировать</span>
    </button>
  </footer>
</section>
