<section class="header">
  <div class="header__item">
    <div class="header__btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h1>Доска заявок на сервисное обслуживание</h1>
  </div>
  <svg height="38px" width="100px">
    <g class="pacman">
      <circle cx="30" cy="19" r="16" />
      <polygon class="inner-triangle" points="30,20 43,12 43,28" />
      <polygon points="30,20 47,10 47,30" />
    </g>
  </svg>

  <button mat-raised-button color="basic" (click)="logOut()">Log Out</button>
  <div class="header__item login_field">
    <div>
      <a routerLink="/"></a>
      <p>Имя Фамилия</p>
      <p>Администратор</p>
    </div>
    <a></a>
  </div>
</section>
