:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

header {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.search {
  position: relative;
  display: flex;
  flex: 1 0 auto;
}
.searchTerm {
  width: 100%;
  padding-left: 15px;
  border: 1px solid rgba(0, 66, 105, 0.28);
  font-size: 16px;
  border-right: none;
  height: 40px;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.searchButton {
  padding: 8px;
  width: 40px;
  height: 42px;
  border: 1px solid rgba(0, 66, 105, 0.28);
  background: inherit;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background-image: url("../../assets/img/workGroup/IconSearch.svg");
  background-repeat: no-repeat;
  background-position: center;
}

button[type="reset"] {
  position: absolute;
  background: inherit;
  background-image: url("../../assets/img/workGroup/IconClose.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 12px;
  height: 12px;
  right: 48px;
  top: calc(50% - 12px / 2);
  cursor: pointer;
}

.addTodo {
  padding: 0px 20px 0px 46px;
  border: none;
  width: fit-content;
  color: #ffffff;
  background-color: #0078d2;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.addTodo span {
  font-size: 16px;
  line-height: 40px;
}

.addTodo span::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/img/workGroup/IconBackward.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  top: 14px;
  left: 18px;
}

.filterButton {
  padding: 0px 62px 0px 20px;
  border: none;
  background: rgba(0, 66, 105, 0.07);
  border-radius: 4px;
  font-size: 16px;
  line-height: 40px;
  color: rgba(0, 57, 92, 0.8);
  margin-left: 4px;
  cursor: pointer;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

main h3 {
  align-self: flex-start;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #002033;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
}

.statusColumn {
  display: flex;
  min-height: 100%;
  width: 305px;
  box-sizing: border-box;
  background: rgba(236, 241, 244, 0.5);
  border-radius: 4px;
  flex-direction: column;
  padding: 11px 8px 0 8px;
  align-items: center;
  gap: 8px;
}

.countDeals {
  width: 23px;
  height: 20px;
  text-align: center;
  background: #dee4e8;
  border-radius: 50px;
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  top: -1px;
  right: -31px;
}

.sum {
  font-size: 32px;
  line-height: 150%;
  color: rgba(0, 32, 51, 0.3);
}

.addTodoIncoming {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: none;
  border: none;
  background-image: url("../../assets/img/workGroup/button+.svg");
  background-repeat: no-repeat;
  background-position: center;
}
