<section class="leftSide">
  <div class="groupSector">
    <ng-container *ngFor="let workGroup of workGroups">
      <a
        routerLinkActive="groupSector__link_active"
        [routerLink]="['/work-group', workGroup.id]"
        class="groupSector__link"
      >
        <input
          type="text"
          [(ngModel)]="workGroup.name"
          readonly="true"
          (blur)="disableInput($event.target)"
          (dblclick)="enableInput($event.target)"
          #nameInput
        />
      </a>
    </ng-container>
    <!-- groupSector__link_active -->
    <button class="addGroupButton" type="button" (click)="AddWorkGroup()">
      <span>Добавить группу</span>
    </button>
  </div>

  <a class="leftSide__menuSettings">Настройки меню</a>
</section>
<section class="mainPart">
  <router-outlet></router-outlet>
</section>
