<section>
  <header>
    <div class="todoInfo">
      <h3>Ошибка датчика КП-312</h3>
      <span class="price">2 500 ₽</span>
      <span>21 января 2022</span>
    </div>
    <div class="feedBack">
      <a href="#" class="phoneButton"></a>
      <a href="#" class="messageButton"></a>
      <a href="#" class="commentButton"></a>
    </div>
  </header>

  <main>
    <div class="changeDate">
      <span>Дата изменения</span>
      <p>2 февраля 2022</p>
    </div>
    <div class="userInfo">
      <span>Исполнитель</span>
      <a>
        <span>Иван Васильев</span>
      </a>
    </div>
  </main>

  <footer>
    <span>Дела</span>
    <button class="editTodoButton" type="button">
      <span>Редактировать</span>
    </button>
  </footer>
</section>
