<header>
  <div>
    <h2
      mat-dialog-title
      [ngClass]="{
        low: task.priorityId === 0,
        mid: task.priorityId === 1,
        high: task.priorityId === 2,
        critical: task.priorityId === 3
      }"
    >
      Добавление сделки
    </h2>
    <button
      mat-icon-button
      aria-label="icon button with a vertical three dot icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="statusNumber === undefined; else fixedStatus">
    <div class="status">
      <button [matMenuTriggerFor]="statues" type="button">Статус заявки</button>
      <mat-menu #statues="matMenu">
        <ng-container *ngFor="let status of statuses">
          <button mat-menu-item (click)="setStatus(status.id)">
            {{ status.name }}
          </button>
        </ng-container>
      </mat-menu>
      <p class="statusName">{{ allStatuses[task.statusNumber].name }}</p>
    </div>
  </ng-container>

  <ng-template #fixedStatus>
    <div class="status fixed">
      <p class="fixed-status-name">
        {{ allStatuses[task.statusNumber].name }}
      </p>
    </div>
  </ng-template>
</header>

<mat-dialog-content>
  <h1>{{ taskName }}</h1>

  <div>
    <span>Название сделки:</span>
    <input
      type="text"
      class="nameInput"
      placeholder="Введите название задачи"
      #nameInput
      [(ngModel)]="taskName"
    />
  </div>

  <div>
    <span>Стоимость сделки:</span>
    <input
      type="number"
      class="priceInput"
      placeholder="Введите стоимость задачи"
      #nameInput
      [(ngModel)]="taskPrice"
    />
  </div>

  <div>
    <span>Приоритет:</span>
    <button
      [matMenuTriggerFor]="priorities"
      type="button"
      class="priorities-btn"
    >
      <span
        [ngClass]="{
          low: task.priorityId === 0,
          mid: task.priorityId === 1,
          high: task.priorityId === 2,
          critical: task.priorityId === 3
        }"
        >{{ allPriorities[task.priorityId].name }}</span
      >
    </button>
    <mat-menu #priorities="matMenu">
      <ng-container *ngFor="let priority of prioritiesFilter">
        <button mat-menu-item (click)="setPriority(priority.id)">
          <span
            [ngClass]="{
              low: priority.id === 0,
              mid: priority.id === 1,
              high: priority.id === 2,
              critical: priority.id === 3
            }"
            >{{ priority.name }}</span
          >
        </button>
      </ng-container>
    </mat-menu>
  </div>

  <div>
    <span>Исполнитель:</span>
    <button [matMenuTriggerFor]="users" type="button" class="users-btn">
      <ng-container *ngIf="userFind !== undefined">
        <img
          [src]="userFind.imgUrl"
          alt="Фото пользователя"
          width="24px"
          height="24px"
        />
        <span>
          {{ userFind.name }}
        </span>
      </ng-container>
    </button>
    <mat-menu #users="matMenu">
      <ng-container *ngFor="let user of usersFilter">
        <button mat-menu-item (click)="setUser(user.id)">
          <img
            [src]="user.imgUrl"
            alt="Фото пользователя"
            width="24px"
            height="24px"
          />
          <span>{{ user.name }}</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="exit-dialog" (click)="closeDialog()">
    Отменить
  </button>
  <button
    mat-raised-button
    color="primary"
    class="save-info"
    (click)="saveData()"
  >
    Сохранить
  </button>
</mat-dialog-actions>
