/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: url("../src/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../src/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
}

body {
  margin: 0;
  color: #002033;
  font-family: "Inter", Tahoma, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
